<h1>Video</h1>

<video #videoPlayer height="500" width="500" controls>Your browser does not support HTML5 video.</video>
<div *ngIf="isLoading">Loading... {{ loadedSize | number:'1.0-0' }} / {{ totalSize | number:'1.0-0' }} bytes</div>
<div *ngIf="isCompleted">Video fully loaded</div>

<!-- <video #videoPlayer height="500" width="500" controls>Your browser does not support HTML5 video.</video> -->
<!-- private apiUrl = 'https://localhost:7001/api/video';
private fileName = 'Avatar The Last Airbender S01E01.mp4'; -->